.Datatable .cellWithTable {
    display: flex;
    align-items: center;
  }
  
  .Datatable .cellWithTable .cellImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }