.account-list-page .content {
  padding: 16px;
}

.account-list-page .bg-white {
  padding: 16px;
}

.account-list-page .MuiDataGrid-root {
  width: 100% !important;
}

.account-list-page h2 {
  font-size: 2rem;
}
